@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nunito+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

.back-g{
  background-repeat: none;
  background-image: linear-gradient(to right, #787750, #8a614b);
}

#mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* Black text color */
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }

  #mySidenav a:hover {
    text-decoration-line: underline; /* On mouse-over, make the elements appear as they should */
  }

  #ctct-icons{
    text-align: right;
    padding: 10px;
    color: white;
  }

  .fa-brands{
    color: white;
  }

 .vl{
  border: 2px solid white;
  margin-left: 500px;
  height: 100px;
  width: 500px;
  margin-top: 3px;
 }

 .h2-box{
  font-weight: normal;
  font-family: 'Darumadrop One', sans-serif;
  margin-top: 10px;
  font-size: 45px;
  color: white;
 }

 #logo{
  width: 6%;
  padding-bottom: 4px;
 }




 /* Menu Page */

 hr{
  width: 90%;
  margin-left: 80px; 
 }

 
 #menupg{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  background-image: linear-gradient(to right, #787750, #8a614b);
}

.wrapper{
  width: 95%;
  margin: 0 auto;
}

#search-container{
  margin: 1em 0; 
}

#search-container input{
  background-color: transparent;
  font-weight: bold;
  width: 40%;
  border: transparent;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: red;
 }

#search-container button{
  padding: 1em 2em;
  margin-left: 1em;
  background-color: red;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0.5em;
  border-color: transparent;
}

.button-value{
  border: 2px solid red;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: red;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.active{
  background-color: red;
  color: #fff;
}

#products{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card{
  background-color: #fff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container{
  text-align: center;
}

img{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container{
  padding-top: 1em;
  color: black;
}

.container h5{
  font-weight: 500;
}

.hide{
  display: none;
}

@media screen and (max-width: 720px){
  img{
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }

  .card{
    max-width: 10em;
    margin-top: 1em;
  }

  #products{
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}








