@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nunito+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;

}



.back-g{
  background-repeat: none;
  background-image: url(ecoeats\ leafy\ bg-03.png);
  background-size: contain;
  text-align: center;
}

  #mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 18px; /* Increase font size */
    color: #733E19; /* Brown text color */
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }

  #mySidenav a:hover {
    text-decoration-line: underline; /* On mouse-over, make the elements appear as they should */
  }

  #ctct-icons{
    text-align: right;
    padding: 10px;
    color: white;
  }

  .footer{
    /*background-image: linear-gradient(to right, #787750 35%, #8a614b);*/
    background-color: #656d4a;
    position: fixed; /* making the footer sticky */
    left: 0; /* making the footer sticky to side of the webpage*/
    bottom: 0; /* making the footer sticky to the botoom of the webpage*/
    width: 92%; /* making the footer span the whole webpage */
    margin-left: 4%;
    color: white;
    text-align: right;
    padding: 10px;
  }
  

  .fa-brands{
    color: white;
  }

 .vl{
  border: 2px solid #733E19;
  /*margin-left: 500px;*/
  margin-left: 30%;
  height: 100px;
  /*width: 500px;*/
  max-width: 40%;
  margin-top: 10px;
  text-align: center;
 }

 .h2-box{
  font-weight: normal;
  text-align: center;
  font-family: 'Darumadrop One', sans-serif;
  margin-top: 10px;
  font-size: 45px;
  color: #733E19;
 }

 #logo{
  /*width: 8%;*/
  max-width: 100px;
  padding-bottom: 40px;
  margin-top: 50px;
 }

 @media screen and (max-width: 720px){

  #mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 1.3vw; /* Increase font size */
    color: #733E19; /* Brown text color */
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }

  .vl{
    border: 2px solid #733E19;
    /*margin-left: 500px;*/
    margin-left: 30%;
    height: 50%;
    /*width: 500px;*/
    max-width: 40%;
    margin-top: 10px;
    text-align: center;
   }
  
   .h2-box{
    font-weight: normal;
    text-align: center;
    font-family: 'Darumadrop One', sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
    /*font-size: 45px;*/
    font-size: 3vw;
    color: #733E19;
   }
  
   #logo{
    width: 6.5%;
    padding-bottom: 20px;
    margin-top: 50px;
   }

}

 /*About Page*/
 .row {
  display: flex;
  
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  flex-direction: column-reverse;
  margin-bottom: 100px;
}

.column2 {
    flex: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    flex-direction: column-reverse;

}

p{
  font-weight: bold;
  font-size: 1.2vw;
  color: #733E19;
  margin-left: 10%;
}

#pic1{
  width: 80%;
  margin-left: 10%;
}


/* ALL PAGES Header (except Home Page)*/

#filpg{
  margin: 60px;
  margin-top: 20px;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  background-color: #f4f8e7;
}


#mySidenavv a {
  text-decoration: none; /* Remove underline */
  font-size: 15px; /* Increase font size */
  color: #733E19; /* Black text color */
  /*padding: 10px;*/
  padding: 0.5%;
  transition: 0.3s;
  font-weight: bold;
}

#mySidenavv a:hover {
  text-decoration-line: underline; /* On mouse-over, make the elements appear as they should */
}

.backg{
  background-image: url(ecoeats\ leafy\ bg-03.png);
  background-size: contain;
}

#logo3{
  vertical-align: middle;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 4%;
  margin-left: 15px;
}

.vl3{
  border: 2px solid #733E19;
  /*margin-left: 520px;
  width: 500px;*/
  margin-left: 30%;
  max-width: 40%;
  height: 100px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 3em;
}

@media screen and (max-width: 720px){

 

  
}


 /* Menu Page */

.wrapper{
  width: 95%;
  margin: 0 auto;
}

#search-container{
  margin: 1em 0; 
}

#search-container input{
  background-color: transparent;
  font-weight: bold;
  width: 40%;
  border: transparent;
  border-bottom: 2px solid #733E19;
  padding: 1em 0.3em;
}

#search-container input:focus {
  border-bottom-color: #733E19;
 }

#search-container button{
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #733E19;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 0.5em;
  border-color: transparent;
}

.button-value{
  border: 2px solid #733E19;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #733E19;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}

.active{
  background-color: #733E19;
  color: #fff;
}

#products{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 1.5em;
  padding: 2em 0;
}

.card{
  background-color: #fff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}

.image-container{
  text-align: center;
}

.tip{
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}

.container{
  padding-top: 1em;
  color: #733E19;
}

.container h5{
  font-weight: 500;
}

.hide{
  display: none;
}

@media screen and (max-width: 720px){
  .tip{
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }

  .card{
    max-width: 10em;
    margin-top: 1em;
  }

  #products{
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}








