@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Nunito+Sans:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

body{
  background-repeat: none;
  background-image: linear-gradient(to right, #787750, #8a614b);
}

#mySidenav a {
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* Black text color */
    text-align: center;
    padding: 15px;
    transition: 0.3s;
    font-weight: bold;
  }

  #mySidenav a:hover {
    text-decoration-line: underline; /* On mouse-over, make the elements appear as they should */
  }

  #ctct-icons{
    text-align: right;
    padding: 10px;
    color: white;
  }

  .fa-brands{
    color: white;
  }

 .vl{
  border: 2px solid white;
  margin-left: 500px;
  height: 100px;
  width: 500px;
  margin-top: 30px;
 
 }

 .h2-vl{
  font-weight: normal;
  font-family: 'Darumadrop One', sans-serif;
  margin-top: 10px;
  font-size: 45px;
  color: white;
 }

 #logo{
  width: 6%;
  padding-bottom: 4px;
 }

 p{
  color: white;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
 }
 



